{% extends 'Leave/top_base.html' %}

{% block head %}
<title>add Leave</title>
{% endblock %}

{% block body %}

<center class="logindiv">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"><b>Leave</b> Online</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign in to start your session</p>
    
          <form action="/login" method="POST">
            <div class="input-group mb-3 text-center">
                {% with messages = get_flashed_messages() %}
                  {% for message in messages %}
                    <span class="btn btn-block btn-outline-danger"><i class="fas fa-ban"></i> {{ message }}</span>
                  {% endfor %}  
              {% endwith %}     
            </div>
            <div class="input-group mb-3">
              <input name="username" id="username"  class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" id="password" name="password" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>  
            </div>
          </form>
    
          
          <!-- /.social-auth-links -->
    
          
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </center>
{% endblock %}