{% extends 'Leave/top_base.html' %}

{% block head %}
<title>add Leave</title>
{% endblock %}

{% block body %}

<div class="application_fram">
<div class="card">
    <div class="card-header bg-primary">
        <h4>Leave create <span class="badge bg-light" >Online</span> 
          
          welcome ! <b> {{ current_user.username }}</b>
         
        </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <table class="table table-bordered" id="leav_table">
                   <thead>
                     <th width="20%"> Name</th>
                     <th width="45%">Leave detail</th>
                     <th width="15%">Date leave</th>                  
                     <th>Action</th>
                   </thead>
                   <tbody>
                    {% for leave in leaves %}
                      {% if leave.name ==  current_user.username %}
                    <tr>
                        <td>{{ leave.name }}</td>
                        <td>{{ leave.detail }}</td>
                        <td>{{ leave.date_request }}</td>                    
                        <td class="text-center">
                          <button class="btn btn-danger" id="{{leave.id}}"><i class="fas fa-trash"></i></button>
                          <a class="btn btn-success" href="/update/{{leave.id}}"><i class="fas fa-upload"></i> update</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

                   </tbody>
                </table>
            
            </div>
            <div class="col-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <i class="fas fa-plus-circle"></i> &nbsp;
                        <b>Add your leave request</b>
                    </div>
                    <div class="card-body">
                        <form action="/add" method="POST" > 
                           
                              <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text"  name="name" id="name" class="form-control"  value="{{ current_user.username }}" readonly>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword1">Leave Detail</label>
                                <textarea  class="form-control" name="detail" id="detail" required></textarea>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword1">Leave Dadte</label>
                                <input type="date" name="date" id="date" class="form-control" required>
                              </div> 
                          
                            <div class="card-footer">
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
    
</div>
</div>
{% for leave in leaves %}
<script>
  $("#leav_table").DataTable()
  
  $('body').on('click', '#{{leave.id}}', function(){
    $.confirm({
    title: '<i class="fas fa-trash text-danger"></i> Do you sure!',
    content: 'Click delete to confirm',
    type: 'red',
    typeAnimated: true,
    buttons: {
        tryAgain: {
            text: 'Delete',
            btnClass: 'btn-red',
            action: function(){
              window.location = '/delete/{{leave.id}}';
            }
           },
           close: function () {
           }
      }
    });
  })


</script>
{% endfor %}
{% endblock %}