{% extends 'Leave/top_base.html' %}

{% block head %}
<title>update</title>
{% endblock %}


{% block body %}
<div class="application_fram">
   <div class="row">
    <div class="col-4">
     <div class="card ">
        <div class="card-header bg-primary">
            <h4>Add your work</h4>
         </div>
         <div class="card-body">
            <form method="POST" >
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.item_name.label() }}
                    {{ form.item_name(class="form-control") }}
                  
                </div>
                <div class="form-group">
                    {{ form.item_code.label() }}
                    {{ form.item_code(class="form-control") }}
                   
                </div>
                <div class="form-group">
                    {{ form.psc.label() }}
                    {{ form.psc(class="form-control") }}
                    
                </div>
                <div class="form-group">
                    {{ form.description.label() }}
                    {{ form.description(class="form-control") }}
                    
                </div>
           
                   
                <button type="submit" class="btn btn-success ">
                    <i class="fas fa-calendar-plus"></i> 
                    Submit Item
                </button>
              
            </form>
 
         </div>
     </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">
                <h4><i class="fas fa-th-list"></i>&nbsp;Item in List</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="job_table">
                    <thead>
                      <th>#</th> 
                      <th width="20%">Item</th>
                      <th width="20%">Code</th>
                      <th width="15%">Amount</th>
                      <th width="45%">Detial</th>                     
                    </thead>
                    <tbody>
                     {% for item in items %}
                   
                     <tr>
                         <td>{{ loop.index }}</td>
                         <td>{{ item.itemname}}</td>
                         <td>{{ item.rent_code}} $</td>
                         <td>{{ item.psc }}</td>       
                         <td>{{ item.description }}</td>                     
                     </tr>
      
                 {% endfor %}
 
                    </tbody>
                 </table>

            </div>
        </div>
     </div>
    </div>



</div>
<script>
     $("#job_table").DataTable()
</script>
{% endblock %}